# Custom rules
*.js

# Standard node .gitignore
# (https://raw.github.com/github/gitignore/master/Node.gitignore)

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
